<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <form method="post" action="">
        <input name="username" type="text" placeholder="Username"> <br>
        <input name="password" type="password" placeholder="Password"> <br>
        <input name="confirm_password" type="password" placeholder="Confirm Password"> <br>
        <button>SUBMIT</button>
    </form>
    <a href="/">Home</a>
</body>
</html>